$l_container--padding: 30px;

.l_container {
  margin: 0 auto;
  max-width: map-get($breakpoints, xl) + ($l_container--padding * 2);
  padding: 0 $l_container--padding;
  width: 100%;

  @include breakpoint("md") {
    width: 95%;
  }

  &.--full {
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%;
  }

  @each $breakpoint-name, $breakpoint-size in map-remove($breakpoints, xl) {
    &.--#{$breakpoint-name} {
      max-width: $breakpoint-size + ($l_container--padding * 2);
    }
  }
}
