$l_spread--spacing: (
  s1: spacer(1),
  s2: spacer(2),
  s3: spacer(3),
  s4: spacer(4),
  s5: spacer(5),
  s6: spacer(6)
);

.l_spread {
  display: grid;
  grid-template-rows: minmax(0, 1fr);

  > * {
    margin-bottom: 0;
  }

  @each $key, $value in $l_spread--spacing {
    &.--gap-#{$key} {
      grid-gap: $value;
    }
  }

  @each $breakpoint-name, $breakpoint-size in $breakpoints {
    @media (min-width: $breakpoint-size) {
      @each $key, $value in $l_spread--spacing {
        &.--gap-#{$key}--#{$breakpoint-name} {
          grid-gap: $value;
        }
      }
    }
  }
}
