$c_badge--background-color: $swatch--action !default;
$c_badge--border-radius: $base--border-radius !default;
$c_badge--color: white !default;
$c_badge--font-size: 50% !default;
$c_badge--font-weight: $base--font-weight !default;
$c_badge--line-height: 1 !default;
$c_badge--padding: 0.4em 0.6em !default;

$c_badge--hover--background-color: lighten($c_badge--background-color, 10%) !default;
$c_badge--hover--color: $c_badge--color !default;

$c_badge--focus--background-color: lighten($c_badge--background-color, 10%) !default;
$c_badge--focus--color: $c_badge--color !default;

.c_badge {
  background-color: $c_badge--background-color;
  border-radius: $c_badge--border-radius;
  color: $c_badge--color;
  display: inline-block;
  font-size: $c_badge--font-size;
  font-weight: $c_badge--font-weight;
  line-height: $c_badge--line-height;
  padding: $c_badge--padding;

  &:hover {
    background-color: $c_badge--hover--background-color;
    color: $c_badge--hover--color;
  }

  &:focus {
    background-color: $c_badge--focus--background-color;
    color: $c_badge--focus--color;
  }
}
