$c_box--background-color: white !default;
$c_box--border-radius: $base--border-radius !default;
$c_box--border: $base--border-width solid $base--border-color !default;
$c_box--padding: 3rem !default;
$c_box--transition: border-color $base--duration !default;

$c_box--clickable--hover--border-color: $swatch--action !default;
$c_box--clickable__content--color: $swatch--copy !default;

.c_box {
  $this: &;
  background-color: $c_box--background-color;
  border-radius: $c_box--border-radius;
  border: $c_box--border;
  padding: $c_box--padding;
  transition: $c_box--transition;

  &--clickable {
    display: block;
    color: $c_box--clickable__content--color;

    &:hover,
    &:focus {
      color: inherit;
      border-color: $c_box--clickable--hover--border-color;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
