.c_icon-list {
  $this: &;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: $base--font-weight--bold;
  margin: spacer(4) 0;

  &--two-columns {
    @media (min-width: map-get($base--breakpoints, md)) {
      flex-direction: row;

      li,
      #{$this}__item {
        flex: 1 1 50%;
      }
    }
  }

  li,
  &__item {
    align-items: center;
    display: flex;
    margin-bottom: 0.5em;

    &:before {
      color: $swatch--brand;
      content: "\f00c";
      font-family: "icomoon";
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      margin-right: 0.8em;
    }
  }
}
