$c_site--background-color: white !default;
$c_site--margin: 0 auto !default;
$c_site--max-width: 1920px !default;
$c_site--overflow: hidden !default;

.c_site {
  background-color: $c_site--background-color;
  margin: $c_site--margin;
  max-width: $c_site--max-width;
  overflow: $c_site--overflow;
}
