$c_tag--background-color: $swatch--action !default;
$c_tag--border-radius: $base--border-radius !default;
$c_tag--color: white !default;
$c_tag--font-size: $base--font-size--small !default;
$c_tag--font-weight: $base--font-weight--bold !default;
$c_tag--line-height: 1 !default;
$c_tag--padding: 0.4em 0.6em !default;

$c_tag--hover--background-color: lighten($c_tag--background-color, 10%) !default;
$c_tag--hover--color: $c_tag--color !default;

$c_tag--focus--background-color: lighten($c_tag--background-color, 10%) !default;
$c_tag--focus--color: $c_tag--color !default;

.c_tag {
  background-color: $c_tag--background-color;
  border-radius: $c_tag--border-radius;
  color: $c_tag--color;
  display: inline-block;
  font-size: $c_tag--font-size;
  font-weight: $c_tag--font-weight;
  line-height: $c_tag--line-height;
  padding: $c_tag--padding;

  &:hover {
    background-color: $c_tag--hover--background-color;
    color: $c_tag--hover--color;
  }

  &:focus {
    background-color: $c_tag--focus--background-color;
    color: $c_tag--focus--color;
  }
}
