.c_card {
  @include swatch("background-color", "background");
  @include swatch("color", "copy");
  border-radius: $border-radius;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    @include swatch("background-color", "background--lowlight");
    min-height: 10px;
  }

  &__image {
    border-radius: initial;
    display: block;
    width: 100%;
  }

  &__content {
    padding: 2rem;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: $font-size--large;
    margin: 0 0 0.5em 0;
  }
}
