.c_feather-icon {
  fill: none;
  height: 24px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: currentColor;
  width: 24px;

  &.--large {
    height: 48px;
    width: 48px;
  }
}
