.c_footer {
  @include swatch("background-color", "background");
  @include swatch("color", "copy");
  font-size: $font-size--small;
  padding: spacer(4) 0;

  @include breakpoint("sm") {
    padding: spacer(5) 0;
  }

  @include breakpoint("lg") {
    padding: spacer(6) 0;
  }
}
