.c_footer {
  @include swatch("background-color", "background");
  @include swatch("color", "copy");
  display: grid;
  font-size: $font-size--small;
  grid-gap: spacer(5);
  grid-template-columns: minmax(0, 1fr);
  padding: spacer(5) 0;

  @include breakpoint("lg") {
    grid-gap: spacer(6);
    padding: spacer(6) 0;
  }
}
