.c_gutter {
  $this: &;
  $width: 300px;
  @include swatch("background-color", "background");
  bottom: 0;
  max-width: 90%;
  position: fixed;
  right: -$width;
  top: 0;
  transition: left $duration, right $duration;
  visibility: hidden;
  width: $width;
  z-index: 1000;

  &.--reveal {
    visibility: visible;
  }

  &.--left {
    left: -$width;

    &#{$this}--reveal {
      left: 0;
    }
  }

  &.--right {
    right: -$width;

    &#{$this}--reveal {
      right: 0;
    }
  }
}
