.c_modal {
  align-items: flex-start;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: spacer(4);
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  @include breakpoint("md") {
    align-items: center;
  }

  &.--animating {
  }

  &.--visible {
    display: flex;
    opacity: 1;
    pointer-events: all;
  }

  &__window {
    background-color: white;
    border-radius: $border-radius;
    max-width: 500px;
    overflow: hidden;
    padding: 50px;
    position: relative;
  }

  &__close {
    color: $s_global--negative;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
  }
}
