.c_pagination {
  @include swatch("background-color", "background");
  @include swatch("color", "copy");
  font-size: $font-size--small;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    &.--forward {
      margin-left: auto;
    }

    &.--back {
      margin-right: auto;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    height: 4em;
    justify-content: center;
    min-width: 4em;

    &.--active {
      @include swatch("color", "copy--bold");
      font-weight: $font-weight--bold;
    }
  }
}
