.c_pullquote {
  // color: $swatch--brand;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.2em;
  margin: 1em 0;
  max-width: 40%;

  &.--left {
    float: left;
    margin-right: 20px;
  }

  &.--right {
    float: right;
    margin-left: 20px;
  }
}
