.c_site {
  @include swatch("background-color", "background");
  @include swatch("color", "copy");
  box-shadow: 0 0 50px rgba($s_default--copy, 0.05);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: map-get($breakpoints, site);
  min-height: 100vh;
  overflow: hidden;
}
