// scale
$scale--measurements: 1.6;
$scale--typography: 1.2;

// border-radius
$border-radius: 5px;
$border-radius--small: $border-radius / 2;
$border-radius--round: 100em;

// border-width
$border-width: 2px;
$border-width--thick: $border-width * 2;
$border-width--thin: $border-width / 2;

// breakpoints
$breakpoints: (
  "sm": 600px,
  "md": 810px,
  "lg": 1020px,
  "xl": 1230px,
  "xxl": 1440px,
  "site": 1920px
);

// duration
$duration: 100ms;
$duration--fast: $duration / 2;
$duration--slow: $duration * 3;

// font-family
$font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family--display: $font-family;
$font-family--monospace: monospace;

// font-size
$font-size: 1rem;
$font-size--tiny: rem-scale(-2);
$font-size--small: rem-scale(-1);
$font-size--large: rem-scale(1);

// font-weight
$font-weight: 400;
$font-weight--bold: 700;
$font-weight--light: 300;

// line-height
$line-height: 1.7;
$line-height--snug: 1.4;
$line-height--tight: 1.25;

// shadow
$shadow: 0 10px 30px rgba(black, 0.06);

// spacer
$spacer: 10px;
$spacers: (
  0: 0,
  1: rem-calc($spacer),
  2: rem-calc(modular-scale($spacer, 1)),
  3: rem-calc(modular-scale($spacer, 2)),
  4: rem-calc(modular-scale($spacer, 3)),
  5: rem-calc(modular-scale($spacer, 4)),
  6: rem-calc(modular-scale($spacer, 5)),
  7: rem-calc(modular-scale($spacer, 6))
);
