$u_tooltip--arrow-size: 6px !default;
$u_tooltip--background-color: $swatch--emphasis !default;
$u_tooltip--border-radius: $base--border-radius !default;
$u_tooltip--color: white !default;
$u_tooltip--font-size: $base--font-size--tiny !default;
$u_tooltip--font-weight: $base--font-weight !default;
$u_tooltip--line-height: 1.2 !default;
$u_tooltip--offset: 10px !default;
$u_tooltip--padding: 1em !default;

.u_tooltip {
  position: relative;

  &:before {
    border-color: $u_tooltip--background-color transparent transparent transparent;
    border-style: solid;
    border-width: $u_tooltip--arrow-size $u_tooltip--arrow-size 0 $u_tooltip--arrow-size;
    bottom: calc(100% + #{$u_tooltip--offset - $u_tooltip--arrow-size});
    content: "";
    left: 50%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
  }

  &:after {
    background-color: $u_tooltip--background-color;
    border-radius: $u_tooltip--border-radius;
    bottom: calc(100% + #{$u_tooltip--offset});
    color: $u_tooltip--color;
    content: attr(title);
    font-size: $u_tooltip--font-size;
    font-weight: $u_tooltip--font-weight;
    left: 50%;
    line-height: $u_tooltip--line-height;
    opacity: 0;
    padding: $u_tooltip--padding;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  &:hover {
    &:before,
    &:after {
      opacity: 1;
    }
  }
}
