%e_button {
  @include swatch("background-color", "button--background");
  @include swatch("border-color", "button--border");
  @include swatch("color", "button--label");
  appearance: none;
  border-radius: $border-radius;
  border-style: solid;
  border-width: $border-width;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight--bold;
  line-height: $line-height;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  transition: border-color $duration ease-in-out, background-color $duration ease-in-out;

  &:hover {
    @include swatch("background-color", "button--hover--background");
    @include swatch("border-color", "button--hover--border");
    @include swatch("color", "button--hover--label");
  }

  &:focus {
    @include swatch("background-color", "button--focus--background");
    @include swatch("border-color", "button--focus--border");
    @include swatch("color", "button--focus--label");
    outline: none;
  }

  &.--block {
    display: block;
  }

  &.--small {
    font-size: $font-size--small;
  }

  &.--large {
    font-size: $font-size--large;
  }

  &.--text {
    background-color: transparent;
    border-radius: unset;
    border: none;
    // color: $swatch--action;
    padding: 0;

    &:hover {
      background-color: transparent;
      border: none;
      // color: darken($swatch--action, 5%);
    }

    &:focus {
      background-color: transparent;
      border: none;
      // color: darken($swatch--action, 10%);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.e_button,
button,
input[type="reset"],
input[type="submit"] {
  @extend %e_button;
}
