$e_figure--margin: 2em auto;
$e_figure__caption--color: $swatch--subtle;
$e_figure__caption--font-size: $font-size--small;
$e_figure__caption--margin: 1em 0 0 0;
$e_figure__caption--text-align: center;

.e_figure {
  margin: $e_figure--margin;

  &__figcaption {
    color: $e_figure__caption--color;
    font-size: $e_figure__caption--font-size;
    margin: $e_figure__caption--margin;
    text-align: $e_figure__caption--text-align;
  }
}
