html {
  @extend .\~\~default;
  @include swatch("background-color", "background");
  @include swatch("color", "copy");
  box-sizing: border-box;
  font-family: $font-family;
  font-size: percentage(14/16);
  font-variant-ligatures: none;
  font-weight: $font-weight;
  line-height: $line-height;
  scroll-behavior: smooth;
  text-size-adjust: 100%;

  @include breakpoint("md") {
    font-size: percentage(15/16);
  }

  @include breakpoint("lg") {
    font-size: percentage(16/16);
  }

  @include breakpoint("xl") {
    font-size: percentage(17/16);
  }

  @include breakpoint("xxl") {
    font-size: percentage(18/16);
  }

  * {
    &,
    &:after,
    &:before {
      box-sizing: inherit;
    }
  }
}
