$c_form-group--margin: $base--margin !default;

$c_form-group--actions--text-align: right !default;
$c_form-group--actions--margin: 2em 0 0 0 !default;

.c_form-group {
  margin: $c_form-group--margin;

  &--actions {
    margin: $c_form-group--actions--margin;
  }
}
