$c_gutter--width: 300px !default;
$c_gutter--background-color: $swatch--emphasis !default;
$c_gutter--z-index: 1000 !default;

.c_gutter {
  $this: &;
  background-color: $c_gutter--background-color;
  bottom: 0;
  position: fixed;
  right: -$c_gutter--width;
  top: 0;
  visibility: hidden;
  width: $c_gutter--width;
  z-index: $c_gutter--z-index;

  &--reveal {
    visibility: visible;
  }

  &--left {
    left: -$c_gutter--width;

    &#{$this}--reveal {
      left: 0;
    }
  }

  &--right {
    right: -$c_gutter--width;

    &#{$this}--reveal {
      right: 0;
    }
  }
}
