$c_notification--background-color: $swatch--brand !default;
$c_notification--border-radius: $base--border-radius !default;
$c_notification--color: mix($swatch--brand, white, 25%) !default;
$c_notification--font-size: $base--font-size--small !default;
$c_notification--margin: $base--margin !default;
$c_notification--padding: 1.5em !default;

$c_notification--positive--background-color: $swatch--positive !default;
$c_notification--positive--color: mix($swatch--positive, white, 25%) !default;

$c_notification--negative--background-color: $swatch--negative !default;
$c_notification--negative--color: mix($swatch--negative, white, 25%) !default;

$c_notification__link--color: white !default;

$c_notification__link--hover--color: white !default;

$c_notification__close--background-color: rgba(black, 0.1) !default;
$c_notification__close--border-radius: 0 $base--border-radius !default;
$c_notification__close--color: white !default;
$c_notification__close--font-size: $base--font-size--small !default;
$c_notification__close--height: 1.5em !default;
$c_notification__close--right: 0 !default;
$c_notification__close--top: 0 !default;
$c_notification__close--width: 1.5em !default;

$c_notification__close--hover--background-color: rgba(black, 0.2) !default;
$c_notification__close--hover--color: white !default;

$c_notification__close--focus--background-color: rgba(black, 0.3) !default;
$c_notification__close--focus--color: white !default;


.c_notification {
  background-color: $c_notification--background-color;
  border-radius: $c_notification--border-radius;
  color: $c_notification--color;
  font-size: $c_notification--font-size;
  margin: $c_notification--margin;
  padding: $c_notification--padding;
  position: relative;

  &--positive {
    background-color: $c_notification--positive--background-color;
    color: $c_notification--positive--color;
  }

  &--negative {
    background-color: $c_notification--negative--background-color;
    color: $c_notification--negative--color;
  }

  &__link {
    color: $c_notification__link--color;

    &:hover {
      color: $c_notification__link--hover--color;
    }
  }

  &__close {
    align-items: center;
    background-color: $c_notification__close--background-color;
    border-radius: $c_notification__close--border-radius;
    color: $c_notification__close--color;
    display: flex;
    font-size: $c_notification__close--font-size;
    height: $c_notification__close--height;
    justify-content: center;
    position: absolute;
    right: $c_notification__close--right;
    top: $c_notification__close--top;
    width: $c_notification__close--width;

    &:hover {
      background-color: $c_notification__close--hover--background-color;
      color: $c_notification__close--hover--color;
    }

    &:focus {
      background-color: $c_notification__close--focus--background-color;
      color: $c_notification__close--focus--color;
    }
  }
}
