$l_container--margin: 0 auto !default;
$l_container--max-width: 1300px !default;
$l_container--padding: 0 30px !default;
$l_container--width: 90% !default;

$l_container--narrow--max-width: $l_container--max-width * 0.75 !default;

$l_container--wide--max-width: $l_container--max-width * 1.25 !default;

.l_container {
  margin: $l_container--margin;
  max-width: $l_container--max-width;
  padding: $l_container--padding;
  width: $l_container--width;

  &--narrow {
    max-width: $l_container--narrow--max-width;
  }

  &--wide {
    max-width: $l_container--wide--max-width;
  }
}
