$u_display--utilities: (block, inline, inline-block, none);

@each $utility-value in $u_display--utilities {
  .u_display--#{$utility-value} {
    display: $utility-value !important;
  }
}

@each $utility-value in $u_display--utilities {
  @each $breakpoint-name, $breakpoint-size in $breakpoints {
    @media (min-width: $breakpoint-size) {
      .u_display--#{$utility-value}--#{$breakpoint-name} {
        display: $utility-value !important;
      }
    }
  }
}
