$u_float--utilities: (left, none, right);

@each $utility-value in $u_float--utilities {
  .u_float--#{$utility-value} {
    float: $utility-value !important;
  }
}

@each $utility-value in $u_float--utilities {
  @each $breakpoint-name, $breakpoint-size in $breakpoints {
    @media (min-width: $breakpoint-size) {
      .u_float--#{$utility-value}--#{$breakpoint-name} {
        float: $utility-value !important;
      }
    }
  }
}
