$u_text-align--utilities: (center, justify, left, right);

@each $utility-value in $u_text-align--utilities {
  .u_text-align--#{$utility-value} {
    text-align: $utility-value !important;
  }
}

@each $utility-value in $u_text-align--utilities {
  @each $breakpoint-name, $breakpoint-size in $breakpoints {
    @media (min-width: $breakpoint-size) {
      .u_text-align--#{$utility-value}--#{$breakpoint-name} {
        text-align: $utility-value !important;
      }
    }
  }
}
