$o_anchor--color: $swatch--action !default;
$o_anchor--text-decoration: none !default;

$o_anchor--hover--color: darken($o_anchor--color, 5%) !default;

$o_anchor--focus--color: darken($o_anchor--color, 10%) !default;
$o_anchor--focus--outline: none !default;

a {
  color: $o_anchor--color;
  text-decoration: $o_anchor--text-decoration;

  &:hover {
    color: $o_anchor--hover--color;
  }

  &:focus {
    color: $o_anchor--focus--color;
    outline: $o_anchor--focus--outline;
  }
}
