$o_blockquote--font-size: $base--font-size--large !default;
$o_blockquote--font-style: italic !default;
$o_blockquote--font-weight: $base--font-weight--light !default;
$o_blockquote--margin: $base--margin !default;

$o_blockquote__cite--color: $swatch--subtle !default;
$o_blockquote__cite--font-size: $base--font-size--small !default;
$o_blockquote__cite--font-style: normal !default;

blockquote {
  font-size: $o_blockquote--font-size;
  font-style: $o_blockquote--font-style;
  font-weight: $o_blockquote--font-weight;
  margin: $o_blockquote--margin;

  p {
    &:before {
      content: "\201C";
    }

    &:after {
      content: "\201D";
    }
  }

  cite {
    color: $o_blockquote__cite--color;
    display: block;
    font-size: $o_blockquote__cite--font-size;
    font-style: $o_blockquote__cite--font-style;
  }
}
