$o_html--color: $swatch--copy !default;
$o_html--font-family: $base--font-family !default;
$o_html--line-height: $base--line-height !default;
$o_html--font-size: 100% !default;

html {
  box-sizing: border-box;
  color: $o_html--color;
  font-family: $o_html--font-family;
  font-size: $o_html--font-size;
  line-height: $o_html--line-height;

  * {
    &,
    &:before,
    &:after {
      box-sizing: inherit;
    }
  }
}
