$o_label--color: $swatch--emphasis !default;
$o_label--font-size: $base--font-size--small !default;
$o_label--font-weight: $base--font-weight--bold !default;
$o_label--margin: 0 0 0.5em 0 !default;

label {
  color: $o_label--color;
  display: block;
  font-size: $o_label--font-size;
  font-weight: $o_label--font-weight;
  margin: $o_label--margin;
}
