$o_textarea--font-family: inherit !default;
$o_textarea--font-size: $base--font-size !default;
$o_textarea--line-height: $base--line-height !default;
$o_textarea--padding: 1em !default;

$o_textarea--disabled--cursor: not-allowed !default;
$o_textarea--disabled--opacity: 0.5 !default;

$o_textarea--readonly--cursor: $o_textarea--disabled--cursor !default;

textarea {
  //line-height: $o_textarea--line-height;
  //padding: $o_textarea--padding;
  resize: vertical;
  //width: 100%;
  font-family: $o_textarea--font-family;
  font-size: $o_textarea--font-size;

  /* &[disabled] {
    cursor: $o_textarea--disabled--cursor;
    opacity: $o_textarea--disabled--opacity;
  }

  &[readonly] {
    cursor: $o_textarea--readonly--cursor;
  } */
}
