@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

body {
  background-color: #EEE;
  margin: 8%;
}

.page-title {
  font-family: "Montserrat";
  font-size: 64px;
  margin: 0 auto 70px auto;
  max-width: 800px;
}

.section-title {
  font-family: "Montserrat";
  font-size: 32px;
  margin: 0 auto 70px auto;
  max-width: 800px;
}

.preview {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  max-width: 800px;
  padding: 70px;
}

.preview__title {
  font-family: "Montserrat";
  font-size: 32px;
  margin-bottom: 40px;
}

.c_heading {
  color: red;
}
