$e_blockquote--font-size: $base--font-size--large !default;
$e_blockquote--font-style: italic !default;
$e_blockquote--font-weight: $base--font-weight--light !default;
$e_blockquote--margin: $base--margin !default;
$e_blockquote__cite--color: $swatch--subtle !default;
$e_blockquote__cite--font-size: $base--font-size--small !default;
$e_blockquote__cite--font-style: normal !default;

.e_blockquote {
  font-size: $e_blockquote--font-size;
  font-style: $e_blockquote--font-style;
  font-weight: $e_blockquote--font-weight;
  margin: $e_blockquote--margin;

  &__paragraph {
    &:before {
      content: "\201C";
    }

    &:after {
      content: "\201D";
    }
  }

  &__cite {
    color: $e_blockquote__cite--color;
    display: block;
    font-size: $e_blockquote__cite--font-size;
    font-style: $e_blockquote__cite--font-style;
  }
}
