$e_figure--margin: 2em auto !default;
$e_figure__caption--color: $swatch--subtle !default;
$e_figure__caption--font-size: $base--font-size--small !default;
$e_figure__caption--margin: 1em 0 0 0 !default;
$e_figure__caption--text-align: center !default;

.e_figure {
  margin: $e_figure--margin;

  &__figcaption {
    color: $e_figure__caption--color;
    font-size: $e_figure__caption--font-size;
    margin: $e_figure__caption--margin;
    text-align: $e_figure__caption--text-align;
  }
}
