$e_heading--color: $swatch--emphasis !default;
$e_heading--font-family: $base--font-family--display !default;
$e_heading--font-weight: $base--font-weight--bold !default;
$e_heading--h1--font-size: 2.488rem !default;
$e_heading--h2--font-size: 2.074rem !default;
$e_heading--h3--font-size: 1.728rem !default;
$e_heading--h4--font-size: 1.44rem !default;
$e_heading--h5--font-size: 1.2rem !default;
$e_heading--h6--font-size: 1rem !default;
$e_heading--line-height: $base--line-height--tight !default;
$e_heading--margin: $base--margin !default;

.e_heading {
  color: $swatch--emphasis;
  font-family: $e_heading--font-family;
  font-weight: $e_heading--font-weight;
  line-height: $e_heading--line-height;
  margin: $e_heading--margin;

  &--h1 {
    font-size: $e_heading--h1--font-size;
  }

  &--h2 {
    font-size: $e_heading--h2--font-size;
  }

  &--h3 {
    font-size: $e_heading--h3--font-size;
  }

  &--h4 {
    font-size: $e_heading--h4--font-size;
  }

  &--h5 {
    font-size: $e_heading--h5--font-size;
  }

  &--h6 {
    font-size: $e_heading--h6--font-size;
  }
}
