$e_input--background-color: white !default;
$e_input--border-color: $base--border-color !default;
$e_input--border-radius: $base--border-radius !default;
$e_input--border-style: solid !default;
$e_input--border-width: $base--border-width !default;
$e_input--color: $swatch--copy !default;
$e_input--font-family: inherit !default;
$e_input--font-size: $base--font-size !default;
$e_input--line-height: $base--line-height !default;
$e_input--padding: 1em 1.3em !default;

$e_input--placeholder--color: mix($e_input--color, $e_input--background-color) !default;

$e_input--focus--background-color: $e_input--background-color !default;
$e_input--focus--border-color: darken($e_input--border-color, 10%) !default;
$e_input--focus--color: $e_input--color !default;

$e_input--small--font-size: $base--font-size--small !default;

$e_input--large--font-size: $base--font-size--large !default;

.e_input {
  color: $e_input--color;
  font-family: $e_input--font-family;
  font-size: $e_input--font-size;
  line-height: $e_input--line-height;

  &::placeholder {
    color: $e_input--placeholder--color;
  }

  &--common {
    background-color: $e_input--background-color;
    border-color: $e_input--border-color;
    border-radius: $e_input--border-radius;
    border-style: $e_input--border-style;
    border-width: $e_input--border-width;
    padding: $e_input--padding;
    width: 100%;

    &:focus {
      background-color: $e_input--focus--background-color;
      border-color: $e_input--focus--border-color;
      color: $e_input--focus--color;
      outline: none;
    }
  }

  &--bool {
    margin: 0;
    padding: 0;
  }

  &--textarea {
    resize: vertical;
  }

  &--select {
    // ---
  }

  &--color {
    // --
  }

  &--file {
    // --
  }

  &--range {
    // --
  }

  &--small {
    font-size: $e_input--small--font-size;
  }

  &--large {
    font-size: $e_input--large--font-size;
  }
}
