$e_list--margin: $base--margin !default;
$e_list__child--margin: 0 0 0 2em !default;

.e_list {
  list-style-position: inside;
  margin: $e_list--margin;
  padding: 0;

  &__child {
    margin: $e_list__child--margin;
  }
}

dl {
  margin: $base--margin;

  dt {
    font-weight: $base--font-weight--bold;
  }

  dd {
    margin: $base--margin;
  }
}
