$e_table--margin-bottom: $base--margin !default;

.e_table { // TODO
  border-collapse: collapse;
  margin-bottom: $e_table--margin-bottom;
  width: 100%;

  &__caption {
    color: $swatch--emphasis;
    font-size: $base--font-size--small;
    font-weight: $base--font-weight--bold;
    margin: $base--margin;
  }

  &__cell {
    padding: 0.5rem;
    text-align: inherit;
  }
}
