// swatch
$swatch--brand-hue: 174;
$swatch--copy: hsl($swatch--brand-hue, 5%, 40%) !default;
$swatch--border: hsl($swatch--brand-hue, 5%, 95%) !default;
$swatch--action: hsl($swatch--brand-hue, 100%, 40%) !default;
$swatch--brand: hsl($swatch--brand-hue, 100%, 40%) !default;
$swatch--emphasis: hsl($swatch--brand-hue, 5%, 20%) !default;
$swatch--subtle: hsl($swatch--brand-hue, 5%, 60%) !default;
$swatch--positive: hsl(85, 60%, 50%) !default;
$swatch--negative: hsl(5, 60%, 50%) !default;

// border-color
$base--border-color: $swatch--border !default;
$base--border-color--dark: $swatch--border !default;
$base--border-color--light: $swatch--border !default;

// border-radius
$base--border-radius: 4px !default;
$base--border-radius--round: 100em !default;

// border-width
$base--border-width: 2px !default;
$base--border-width--thick: 4px !default;
$base--border-width--thin: 1px !default;

// breakpoints
$base--breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// duration
$base--duration: 200ms;
$base--duration--fast: 100ms;
$base--duration--slow: 400ms;

// font-family
$base--font-family: sans-serif !default;
$base--font-family--display: sans-serif !default;
$base--font-family--monospace: monospace !default;

// font-size
$base--font-size: 1rem !default;
$base--font-size--small: 0.833rem !default;
$base--font-size--large: 1.2rem !default;
$base--font-size--smaller: 0.833em !default;
$base--font-size--larger: 1.2em !default;

// font-weight
$base--font-weight: normal !default;
$base--font-weight--bold: bolder !default;
$base--font-weight--light: lighter !default;

// line-height
$base--line-height: 1.5 !default;
$base--line-height--tight: 1.2 !default;
$base--line-height--loose: 1.7 !default;

// margin
$base--margin: 0 0 1em 0 !default;

// shadow
$base--shadow: 0 3px 5px rgba(black, 0.2) !default;
